@model Client_management.Models.tblAdded_service

@{
    ViewBag.Title = "Create";
}

<h2 style="text-align:center">Add a service for @ViewBag.Client_Name </h2>
<hr />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Client_id, "Client Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <input type="hidden" value="@ViewBag.Client_id" name="Client_id" />
        <div class="col-md-10">
            <div class="col-md-2" style="background-color:darkgray; color:black;padding:5px;margin-left:5%;text-align:center">
                @Html.Display("Client_Name")
            </div>
            @Html.ValidationMessageFor(model => model.Client_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Service_id, "Service Name", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("Service_id", null, "Select", htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.Service_id, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Quantity, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Quantity, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Quantity, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Payable_amount, "Payable Amount", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Payable_amount, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Payable_amount, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Added_date, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.TextBox("Added_date", DateTime.Now, new { @readonly = "readonly" })
            @Html.ValidationMessageFor(model => model.Added_date, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.Label(" Paid Amount", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <input type="text" id="paidAmount" name="paidAmount" value="" class="form-control" />
        </div>
    </div>

    



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

<div>
        @Html.ActionLink("Back to List", "Index")
    </div>
