@model Client_management.Models.tblClient_profile

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tblClient_profile</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            <img src="@Model.Logo" height="150" width="150" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Company_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Contact_person_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Contact_person_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Designation)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designation)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cell_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cell_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell_2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell_2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cell_3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cell_3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
