@model IEnumerable<Client_management.Models.tblClient_profile>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Company Name")
        </th>
        <th>
            @Html.DisplayName("Company Email")
        </th>
        <th>
            @Html.DisplayName("Phone Number")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Company_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Company_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cell_1)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ID }) |*@
            @Html.ActionLink("Details", "Details")|
            @*@Html.ActionLink("Delete", "Delete", new { id=item.ID })*@
        </td>
    </tr>
}

</table>
