@model IEnumerable<Client_management.Models.tblClient_transaction>

@{
    ViewBag.Title = "Payment";
    Layout = "~/Views/Shared/Client_Layout.cshtml";
}

<h2>Payment</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")*@
@*</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Invoice_id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid_amount)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paid_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Payment_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tblClient_profile.Company_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid_amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paid_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Payment_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tblClient_profile.Company_name)
        </td>
        @*<td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>*@
    </tr>
}

</table>
